<!-- Carrie Barrett -->
<!-- CS 290 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Korok Puzzle Tutorials</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="project_style.css">
  </head>
  <body>
    <script src="project_script.js"></script>
    {{{body}}}
  </body>
</html>
