<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>

<h1>Oops, I can't find this page!</h1>
<p>At least I can find Korok Seeds</p>
<img class="example" src="cute_korok.jpg" alt="picture of small cute Korok">