<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Fruit Tree Puzzles</h1>
</header>

    <img class="example" src="fruit_trees.jpg" alt="example of a fruit tree puzzle">
    <br>
    <div class="btn-group">
      <a href="fruit_trees.jpg" download><button type="button" id="dld">Download Image</button></a>
	</div>

<div class="description">
  <h2>How to solve</h2>
  <p>When you see three fruit trees right next to each other in a line, that is a fruit tree puzzle. In order to obtain the Korok Seed, you must remove some fruit from the trees until there are the same number of pieces of fruit on each tree. Once you have done this, the Korok will appear and give you the seed.
  <br>
  <br>
  <a href="https://youtu.be/XWeWBHjatfY?t=257">Link to video walkthrough</a>
</div>
