<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Fruit Tree Puzzles</h1>
</header>
<img src="fruit_trees.jpg" alt="example of a fruit tree puzzle>
<a href="fruit_trees.jpg" download>
  Download Image
</a>
