<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Fruit Tree Puzzles</h1>
</header>

<div class="row">

  <div class="column">
    <img class="example" src="fruit_trees.jpg" alt="example of a fruit tree puzzle">
    <br>
    <div class="btn-group">
      <a href="fruit_trees.jpg" download><button type="button" id="dld">Download Image</button></a>
	</div>
  </div>

  <div class="column">
     <a href="https://youtu.be/XWeWBHjatfY?t=257">Link to video walkthrough</a>
  </div>

</div>
