<nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Korok Puzzle Tutorials</h1>
</header>

<!-- image slideshow is similar to https://www.w3schools.com/w3css/w3css_slideshow.asp -->
<!-- all have the same class to help us display one and hide all others-->
<img class="mySlideshow" src="home.jpg">
<img class="mySlideshow" src="fruit_trees.jpg">  
<img class="mySlideshow" src="petroglyphs.jpg">
<img class="mySlideshow" src="rock_fingers.jpg">
<button class="previous" onclick="plusDivs(-1)">Prev</button>
<button class="previous" onclick="plusDivs(-1)">Next</button>