<nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Korok Puzzle Tutorials</h1>
</header>

<!-- image slideshow is similar to https://www.w3schools.com/w3css/w3css_slideshow.asp -->
<!-- all have the same class to help us display one and hide all others-->
<img class="mySlides" src="home.jpg">
<img class="mySlides" src="fruit_trees.jpg">
<img class="mySlides" src="petroglyphs.jpg">
<img class="mySlides" src="rock_fingers.jpg">
<br>
<div class="btn-group">
  <button type="button" id="previous" onclick="minusDivs()">Prev</button>
  <button type="button" id="next" onclick="plusDivs()">Next</button>
</div>
<br>
<div class="scrollBox">
  <h2>What is a Korok Puzzle?</h2>
  <p>Korok puzzles, also known as Korok Seed puzzles, are found in <em>The Legend of Zelda: Breath of the Wild</em>. In order to upgrade your inventory, you need to trade Korok Seeds to a large Korok character called Hestu. You obtain these items by solving Korok puzzles. There are many different types of Korok puzzles, and there are 900 of them hidden in various places across the map. If you know all the different puzzle types, you can more easily recognize each opportunity you have to collect a Korok Seed.</p>
  <h2>Puzzle Types</h2>
  <ul>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
    <li>Lily Pads</li>
    <li>Boulders</li>
    <li>Under Rocks</li>
    <li>Flowers</li>
    <li>Pinwheels</li>
    <li>Metal Puzzles</li>
    <li>Ball and Chain</li>
	<li>Sparkles</li>
	<li>...and more</li>
  </ul>
</div>

<br>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <fieldset>
    <legend>How are we doing?</legend>
	
	<p>Did you find what you were looking for?</p>
	<label>
	  <input type="radio" name="foundIt">Yes</label>
	<label>
	  <input type="radio" name="foundIt">No</label>
	
	<p>How easy to use was our website?</p>
	<label>
	  <input type="radio" name="rating">Very difficult</label>
	<label>
	  <input type="radio" name="rating">Somewhat difficult</label>
	<label>
	  <input type="radio" name="rating">Somewhat easy</label>
	<label>
	  <input type="radio" name="rating">Very easy</label>
	<br>
	<br>
	<label for="comments">Comments:</label>
    <br>
    <textarea rows="5" cols="50" id="comments"></textarea>
	<br>
	<input type="submit" value="Submit review">
  </fieldset>
</form>

<script src="slideshow.js"></script>