<nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Korok Puzzle Tutorials</h1>
</header>

<!-- image slideshow is similar to https://www.w3schools.com/w3css/w3css_slideshow.asp -->
<!-- all have the same class to help us display one and hide all others-->
<img class="mySlides" src="home.jpg">
<img class="mySlides" src="fruit_trees.jpg">
<img class="mySlides" src="petroglyphs.jpg">
<img class="mySlides" src="rock_fingers.jpg">
<br>
<div class="btn-group">
  <button type="button" id="previous" onclick="minusDivs()">Prev</button>
  <button type="button" id="next" onclick="plusDivs()">Next</button>
</div>
<br>
<div class="scrollBox">
  <p>This text is really long and the height of its container is only 100 pixels. Therefore, a scrollbar is added to help the reader to scroll the content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
</div>
<h2>Puzzle Types</h2>
<ul>
  <li><a href="/fruit_trees">Fruit Trees</a></li>
  <li><a href="/petroglyphs">Petroglyphs</a></li>
  <li><a href="/rock_fingers">Rock Fingers</a></li>
  <li></li>
  <li></li>
  <li></li>
  
</ul>

<script src="slideshow.js"></script>

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <fieldset>
    <legend>How are we doing?</legend>
	
	<p>Did you find what you were looking for?</p>
	<label>
	  <input type="radio" name="foundIt">Yes</label>
	<label>
	  <input type="radio" name="foundIt">No</label>
	
	<p>How easy to use was our website?</p>
	<label>
	  <input type="radio" name="rating">Very difficult</label>
	<label>
	  <input type="radio" name="rating">Somewhat difficult</label>
	<label>
	  <input type="radio" name="rating">Somewhat easy</label>
	<label>
	  <input type="radio" name="rating">Very easy</label>
	  
	<label for="comments">Comments:</label>
    <br />
    <textarea rows="5" cols="50" id="comments"></textarea>
	<input type="submit" value="Submit review" />
  </fieldset>
</form>