<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a class="active" href="/petroglyphs">Petroglyphs</a></li>
    <li><a href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Petroglyph Puzzles</h1>
</header>
<img class="example" src="petroglyphs.jpg" alt="example of a fruit tree puzzle">
<br>
<div class="btn-group">
  <a href="petroglyphs.jpg" download><button type="button" id="dld">Download Image</button></a>
</div>
<div class="description">
  <h2>How to solve</h2>
  <p>A pattern (usually a circle or spiral) of rocks on the ground is a petroglyph puzzle. There will be one space around the circle where a rock is missing. Find another rock nearby and place it in that empty space to make the Korok appear to give you the Korok Seed.
  <br>
  <br>
  <a href="https://youtu.be/XWeWBHjatfY?t=164">Link to video walkthrough</a>
</div>
