<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a class="active" href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Rock Finger Puzzles</h1>
</header>
<a href="https://youtu.be/XWeWBHjatfY?t=113">Link to video walkthrough</a>
