<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/fruit_trees">Fruit Trees</a></li>
    <li><a href="/petroglyphs">Petroglyphs</a></li>
    <li><a class="active" href="/rock_fingers">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Rock Finger Puzzles</h1>
</header>
<img class="example" src="rock_fingers.jpg" alt="example of a fruit tree puzzle">
<br>
<div class="btn-group">
  <a href="rock_fingers.jpg" download><button type="button" id="dld">Download Image</button></a>
</div>
<a href="https://youtu.be/XWeWBHjatfY?t=113">Link to video walkthrough</a>
