<nav>
  <ul>
    <li><a href="project_home.html">Home</a></li>
    <li><a href="fruit_trees.html">Fruit Trees</a></li>
    <li><a href="petroglyphs.html">Petroglyphs</a></li>
    <li><a class="active" href="rock_fingers.html">Rock Fingers</a></li>
  </ul>
</nav>
<header>
  <h1>Rock Finger Puzzles</h1>
</header>
